<!DOCTYPE html>
<html>
<head>
    <title>default</title>
</head>
<body>
    <h1>{{ employee.first_name }} {{ employee.last_name }}</h1>
    <p>position: {{ employee.position }}</p>
    <p>email: {{ employee.email }}</p>
    <p>number: {{ employee.phone_number }}</p>
    <a href="{% url 'employee_update' employee.pk %}">update</a>
    <form action="{% url 'employee_delete' employee.pk %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">delete</button>
    </form>
    <a href="{% url 'employee_list' %}">go back to list of employees</a>
</body>
</html>
